<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/views/index.css">
  <title></title>
</head>
<body>
  <main class="main">

    <div class="profile">
      <div>
        <a href="/">
          <img 
          class="profile__image"
          src="https://avatars2.githubusercontent.com/u/19196536?s=460&u=8fc5c9d3a010264b51d56049df87a6d229c9a64d&v=4">
        </a>
      </div>
      <div>
        <h3><a href="/" class="plain-link">Lachlan Miller</a></h3>
        <a class="link" href="/articles">Articles</a>
        <a class="link" href="/screencasts">Screencasts</a>
        <a class="link" href="/projects">Projects</a>
        <a class="link" href="/musings">Musings</a>
        <a class="link" href="/contact">Contact</a>
      </div>
    </div>

    <div class="content">
      {{content}}
    </div>


  </main>
</body>
</html>
