extends ../shared/index.pug

block content
  style
    include ./article.css
    include ./latex.css 


  style.
    img {
      //- border: 1px solid black;
    }

    th, td {
      min-width: 50px;
    }

  include ../shared/subscribe.pug
  unescaped!=content
  hr
  include ../shared/subscribe.pug