script
  include subscribe.js

p
  em
    | Like what you see? Sign up for updates on my book, "Design Patterns for Testable Vue.js Applications".
    | You'll get updates, previews, and a discounted price when it's released.
form#subscribe
  label(for='email') Email
  input#email(name='email')
  button#email-submit(type='submit') Submit
hr
