script
  include subscribe.js

p
  em
    | Like my content?
    | Sign up to get occasional emails
    | about new blog posts and other content. 
p
  form#subscribe
    label(for='email') Email
    input#email(name='email')
    button#email-submit(type='submit') Submit

| Unsubscribe anytime #[a(href="https://vuejs-course.com/emails/unsubscribe") here].
hr