extends ../shared/index.pug

block content
  p.intro__text
    | Hi! I'm Lachlan, a full stack software developer, passionate about open source, test driven development, and mentoring with over ten years of experience. I've worked with a wide range of technologies in a variety of industries.
  p.intro__text
    | You may know me for my involvement in the open source community
    | , 
    |   mainly for my work in the JavaScript ecosystem on projects such as
    | #[a(href='https://github.com/vuejs/') Vue.js]
    | and 
    | #[a(href='https://github.com/cypress-io/cypress') Cypress].
  p
    | I recently released my first book, 
    | #[a(href="/design-patterns-for-vuejs") Design Patterns for Vue.js].
    | Get the first few chapters for free #[a(href="/design-patterns-for-vuejs") here].
  p
    | I am also a content creator and instructor. I regularly upload content to my
    | #[a(href='https://www.youtube.com/channel/UCydNBt-h2Cox_Ub_GzspneQ?view_as=subscriber') YouTube channel],
    | and I've published three courses on #[a(href='https://www.udemy.com/user/lachlan-miller-4/') Udemy].


  hr
  include ../shared/subscribe.pug
