extends ../shared/index.pug

block content
  p.intro__text
    | Hi! I'm Lachlan, a full stack software developer, passionate about open source, test driven development, and mentoring.
  p.intro__text
    | You may know me for my involvement in the 
    a(href='https://github.com/vuejs') Vue.js community
    | , 
    |   mainly for 
    a(href='https://github.com/vuejs/vue-test-utils') Vue Test Utils
    | . You may have even read the 
    a(href='https://lmiller1990.github.io/vue-testing-handbook/v3/') the book I wrote
    |  about it.
  p
    | I'm writing a book, 
    | #[a(href="/design-patterns-for-vuejs") Design Patterns for Testable Vue.js Applications].
    | If that sounds interesting, leave your email below for updates, previews and a discount when
    | it comes out.
  p
    | I also upload Vue.js content to my
    | #[a(href='https://www.youtube.com/channel/UCydNBt-h2Cox_Ub_GzspneQ?view_as=subscriber') YouTube channel],
    | and have two courses on Udemy, one for
    | #[a(href='https://www.udemy.com/course/complete-vuejs-3-crash-course-composition-api-vue-router-vuex/?referralCode=765A6E679914BF6E60AF') beginner developers]
    | and one for #[a(href='https://www.udemy.com/course/vuejs-3-the-composition-api/?referralCode=0C911BD2BD6C57007F36') experienced developers].


  hr
  include ../shared/subscribe.pug
