extends ../shared/index.pug

block content
  p.intro__text
    | Hi! I'm Lachlan, a full stack software developer, passionate about open source, test driven development, and mentoring.
  p.intro__text
    | You may know me for my involvement in the 
    a(href='https://github.com/vuejs') Vue.js community
    | , 
    |   mainly for 
    a(href='https://github.com/vuejs/vue-test-utils') Vue Test Utils
    | . You may have even read the 
    a(href='https://lmiller1990.github.io/vue-testing-handbook/v3/') the book I wrote
    |  about it.
  p
    | I am currently focused on making advanced course and screencasts on 
    a(href='https://vuejs-course.com/screencasts') Vue.js Courses
    | ,
    | and uploading content to my
    | #[a(href='https://www.youtube.com/channel/UCydNBt-h2Cox_Ub_GzspneQ?view_as=subscriber') YouTube channel].
  p
    | I'm also writing a book, 
    | #[a(href="/design-patterns-for-vuejs") Design Patterns for Testable Vue.js Applications].
    | If that sounds interesting, leave your email below for updates, previews and a discount when
    | it comes out.

  hr
  include ../shared/subscribe.pug
