<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Design Patterns for Vue.js</title>
  <meta name="viewport" content="width=device-width initial-scale=1">
</head>

<body>

  <main>

    <script>
      function postEmail(payload) {
        return window.fetch('https://vuejs-course.com/emails', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(payload)
        })
      }

      document.addEventListener('DOMContentLoaded', () => {
        const $forms = document.querySelectorAll('.email-form')
        for (const $form of Array.from($forms)) {
          $form.addEventListener('submit', async (event) => {
            event.preventDefault();
            const $email = $form.querySelector('.email-form__email')
            const $button = $form.querySelector('.email-form__button')
            $button.setAttribute('disabled', 'disabled')
            $button.textContent = 'Submitting...'
            await postEmail({ email: $email.value, referrer: 'lachlan-miller.me/design-patterns' })
            $button.removeAttribute('disabled')
            $button.textContent = 'Thanks!'
            const $preview = document.querySelector('.preview__download').classList.remove('d-none')
          })
        }
      })

      window.isLowerPower = false;
      const GEO_API_URL = 'https://freegeoip.app/json/';
      const PPP_API_URL =
        'https://api.purchasing-power-parity.com/?target=';

      const mapGeo = response => ({
        countryCodeIsoAlpha2: response.country_code,
        countryName: response.country_name,
      })

      const fetchGeo = () => window.fetch(GEO_API_URL)
        .then(res => res.json())
        .then(data => {
          const { countryCodeIsoAlpha2, countryName } = mapGeo(data)

          window.fetch(`${PPP_API_URL}${countryCodeIsoAlpha2}`)
            .then(res => res.json())
            .then(res => {
              const CODES = {                   
                '0.1': { code: 'SHARE_VUE_LOVE', off: 90 },
                '0.2': { code: 'SHARE_LOVE_VUE', off: 80 },
                '0.3': { code: 'VUEJS_AWESOME_70_OFF', off: 70 },
                '0.4': { code: 'SHARE_LOVE_VUEJS', off: 60 },
                '0.5': { code: 'LOVE_SHARE_VUEJS', off: 50 },
                '0.6': { code: 'SHARE_THE_LOVE_VUE', off: 40 },
                '0.7': { code: 'LOVE_SHARE_VUE', off: 30 },
                '0.8': { code: 'VUE_SHARE_THE_LOVE', off: 20 },
                '0.9': { code: 'VUE_LOVE_SHARE', off: 10 }
              }

              if (res.ppp.pppConversionFactor <= 0.8) {
                window.isLowerPower = true
                const round = Math.round((res.ppp.pppConversionFactor) * 10) / 10
                const discount = CODES[res.ppp.pppConversionFactor.toFixed(1)]

                const msg = `
                  <div class="purchasing-parity-card">
                    <p>
                      Hi! It looks like you are in ${countryName} where this book might be
                      a bit expensive.
                    </p> 
                    <p>
                      I support <b>parity purchasing power</b> - I want
                      to maximize my impact by making this book affordable to 
                      everyone all around the world.
                    </p>
                    <p>
                      Use the discount code <b>${discount.code}</b> to get
                      <b>${discount.off}%</b> off at the checkout. 👊🏼
                    </p> 
                  </div>
                  <br />
                `

                const $banners = Array.from(document.querySelectorAll('.purchasing-parity'))
                for (const $banner of $banners) {
                  $banner.innerHTML = msg;
                }
              }
            })
        })

      fetchGeo()

    </script>
    <section>
      <div class="section__content">
        <h1 class="text-center">Design Patterns for Vue.js</h1>
        <h3 class="text-center">A test driven approach to maintainable applications</h3>

      </div>
    </section>

    <section>
      <div class="section__content">
        
        <div class="purchasing-parity">            
        </div>

        <div class="call-to-action">
          <div class="call-to-action__text">
            Preview "Testable Forms" and "Renderless Components" for free!
          </div>

          <form class="email-form">
            <!-- <input name="email" placeholder="Your email address" class="email-form__email" /> -->
            <a target="_blank" href="https://app.box.com/s/5lwoe8m6fjt17p6gukp93v5u8qkc8m9b" type="submit" class="email-form__button">Give me the preview</a>
          </form>

          <div class="call-to-action__text">
            Or <a href="#pricing">buy now</a> if you don't need convincing.
          </div>
        </div>

        <div class="preview__download d-none">
          <a target="_blank" href="https://app.box.com/s/ymmknytu2qev0l0jdgsqh9hgr50zuikz">Get two chapters for
            free</a>.
        </div>
      </div>
    </section>

    <section>
      <div class="section__content">

        <p>
          Vue.js is a great framework - you find yourself building better applications,
          faster than ever. With the Composition API and TypeScript, you're now feeling unstoppable...
        </p>

        <p>
          ...over time, velocity slows. Business requirements change. The line between business logic
          and the your UI components begins to blur.
        </p>

        <p>
          <b>Design patterns for Vue.js</b> will arm you with the tools, patterns and concepts to
          build complex, scalable and testable applications.
        </p>

        <p>
          We cover:
        </p>

        <ul class="features">
          <li>
            <img class="check"
              src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Tick_Mark_Dark-512.png">
            <span>Composition API</span>
          </li>
          <li>
            <img class="check"
              src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Tick_Mark_Dark-512.png">
            <span>Separation of concerns</span>
          </li>
          <li>
            <img class="check"
              src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Tick_Mark_Dark-512.png">
            <span>Test-first philosophy</span>
          </li>
          <li>
            <img class="check"
              src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Tick_Mark_Dark-512.png">
            <span>Renderless components for maximum reusability</span>
          </li>
          <li>
            <img class="check"
              src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Tick_Mark_Dark-512.png">
            <span>Write tests to help drive your component design</span>
          </li>
          <li>
            <img class="check"
              src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Tick_Mark_Dark-512.png">
            <span>Design Patterns for consistency</span>
          </li>
          <li>
            <img class="check"
              src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Tick_Mark_Dark-512.png">
            <span>Options or Composition? Choosing the right API for the job</span>
          </li>
        </ul>

      </div>
    </section>

    <section>
      <div class="section__content">
        <h2>What's Included</h2>

        <h4>📗 The Book</h4>
        <p>
          Beautifully formatted PDF and epub. 164 pages split into 10 sections that can be read in any order.
          Lifetime access (content updated as Vue changes and evolves).
        </p>
        <p>

        <h4>🏋️‍♂️ Exercises (with solutions)</h4>
        <p>
          Each section ends with exercises to make sure you understand everything. The source code is also included,
          as well as the solutions to the exercises, so you can check your solutions.
        </p>

        <h4>✅ Always up to date</h4>
        <p>
          The very nature of a book about best practices and testing is easy to keep up to date, since the test suite
          gives me confidence when updating the content! For this reason, you can be
          confident all the code snippets work, and will continue to do so.
        </p>

      </div>
    </section>

    <section id="pricing">
      <div class="section__content">
        <div class="cards">
          <div class="purchasing-parity">            
          </div>

          <div class="cards__outer">
            <div class="cards__title">
              Complete Package
            </div>

            <div class="cards__content">
              <div class="cards__image-wrapper">
                <img class="cards__image" src="https://www.flaticon.com/svg/static/icons/svg/3361/3361854.svg">
              </div>

              <ul class="features">
                <li>
                  <img class="check"
                    src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Tick_Mark_Dark-512.png">
                  <span>Download PDF + epub</span>
                </li>
                <li>
                  <img class="check"
                    src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Tick_Mark_Dark-512.png">
                  <span>Source code + exercise solutions</span>
                </li>
                <li>
                  <img class="check"
                    src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Tick_Mark_Dark-512.png">
                  <span>Lifetime access to future updates</span>
                </li>
              </ul>

              <a 
                class="cards__content--button button bg-green" 
                target="_blank" 
                href="https://gum.co/BPKzQ"
              >
                <div>
                  GET IT NOW ($30)
                </div>
              </a>

            </div>
          </div>

        </div>
      </div>
    </section>

    <section>
      <div class="section__content">
        <div class="call-to-action">
          <div class="call-to-action__text">
            Preview "Testable Forms" and "Renderless Components" for free!
          </div>

          <form class="email-form">
            <!-- <input name="email" placeholder="Your email address" class="email-form__email" /> -->
            <a target="_blank" href="https://app.box.com/s/5lwoe8m6fjt17p6gukp93v5u8qkc8m9b" type="submit" class="email-form__button">Give me the preview</a>
          </form>

          <div class="call-to-action__text">
            Or <a href="#pricing">buy now</a> if you don't need convincing.
          </div>
        </div>


        <div class="preview__download d-none">
          <a target="_blank" href="https://app.box.com/s/5lwoe8m6fjt17p6gukp93v5u8qkc8m9b">Get two chapters for
            free</a>.
        </div>
      </div>
    </section>

    <section>
      <div class="section__content">
        <h2>Frequently Asked Questions</h2>
        <h4>Is this book for me?</h4>
        <p>
          Maybe! This is aimed at developers with some JavaScript and Vue.js experience, who would 
          like to learn more advanced patterns.
        </p>

        <h4>How do I get the content?</h4>
        <p>
          You can purchase it using 
          <a 
            class="white"
            target="_blank" 
            href="https://gum.co/BPKzQ"
          >Gumroad</a>. You will be able to download PDF and EPUB formats. 
          You will also be able to download updates there, too (we all know how fast JavaScript changes).
          I'll be keeping everything up to date.
        </p>

        <h4>Do you offer purchasing power parity?</h4>
        <p>
          Yes! I understand not every country has the same purchasing power. Please
          <a class="white" href="mailto:lachlan@vuejs-course.com">send me an email</a>
          letting me know how much you can afford to pay and we can work something out!
        </p>
      </div>
    </section>

    <section>
      <div class="section__content">
        <h3>Who am I?</h3>
        <div class="profile">
          <img class="profile__image" src="https://avatars3.githubusercontent.com/u/19196536?s=460&v=4">
        </div>
        <p class="who-am-i">
          Hi there! I'm Lachlan, <a href="https://github.com/vuejs">Vue.js team member</a> and quality software
          enthusiast.
        </p>

        <p class="who-am-i">
          I have taught tens of thousands of developers how to write testable Vue.js applications
          through my <a href="https://www.udemy.com/user/lachlan-miller-4/">courses</a>,
          <a href="/books">books</a> and
          <a href="https://www.youtube.com/channel/UCydNBt-h2Cox_Ub_GzspneQ?view_as=subscriber">YouTube channel</a>. I hope you will be next!
        </p>

        <p class="who-am-i">
          You can find my on <a href="https://github.com/lmiller1990">GitHub</a> and
          <a href="https://twitter.com/Lachlan19900">Twitter</a> or by just sending me a
          good old fashioned <a href="mailto:lachlan@vuejs-course.com">email</a>.
        </p>

      </div>

    </section>

    <section>
      <div class="section__content">
        <div>
          Thanks to <a class="white" href="https://www.flaticon.com/authors/linector" title="Linector">Linector</a>
          and <a class="white" href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from
          <a class="white" href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
          for the cute onigiri icons.
        </div>
      </div>

    </section>


  </main>
</body>

</html>
