link(
  rel="stylesheet" 
  href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"
  integrity="sha512-IJEbgDEF7OeKJRa0MY2PApnyJHRIsgzCveek4ec8VWQ+7KG3ZSKVNYa5xP/Gh0hVP0Mwb+gBsk+GwR3JQGhQNg=="
  crossorigin="anonymous"
)
style
  include ./design-patterns-for-vuejs.css
!= landingPage