<p>
  I write technical articles, mainly about Vue and other web technologies. I'll eventually
  transfer my content here, but for the time being you can find my articles 
  <a href="https://vuejs-course.com/blog">here</a>
  and <a href="https://medium.com/@lachlanmiller_52885">here</a>.
</p>

<h5>
  <a href="/articles/patterns-for-testing-props">Patterns for Testing Props</a>
  <span class="color-grey font-small">2020-09-22</span>
</h5>
<p>
  Learn about testing props in Vue apps, and how testing props 
  can verify whether you are correctly separating your
  business logic and your UI.
</p>
