<script>
  function postEmail(payload) {
    window.fetch('https://vuejs-course.com/emails', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(payload)
    })
  }

  document.addEventListener('DOMContentLoaded', () => {
    const $form = document.getElementById('subscribe')
    $form.addEventListener('submit', async (event) => {
      event.preventDefault();
      const $email = document.getElementById('email')
      const $button = document.getElementById('email-submit')
      $button.setAttribute('disabled', 'disabled')
      await postEmail({ email: $email.value, referrer: 'lachlan-miller.me' })
      $button.removeAttribute('disabled')
      $button.textContent = 'Thanks!'
    })
  })
</script>

<p class="intro__text">
  Hi! I'm Lachlan, a full stack software developer, passionate about open source, test driven development, and mentoring. 
</p>
<p class="intro__text">
  You may know me for my involvement in the <a href="https://github.com/vuejs">Vue.js community</a>, 
  mainly for <a href="https://github.com/vuejs/vue-test-utils">Vue Test Utils</a>. You may have even read the 
  <a href="https://lmiller1990.github.io/vue-testing-handbook/v3/">the book I wrote</a> about it.
</p>
<p>
  I am currently focused on making advanced course and screencasts on 
  <a href="https://vuejs-course.com/screencasts">Vue.js Courses</a>.
</p>
<p>
  I'm also writing a book, <em>"Design Patterns for Testable Vue.js Applications"</em>.
  If that sounds interesting, leave your email for updates, previews and a discount when
  it comes out.
</p>
<p>
  <form id="subscribe">
    <label for="email">Email</label>
    <input name="email" id="email" />
    <button type="submit" id="email-submit">Submit</button>
  </form>
</p>
<p class="intro__text">
  You can find me on <a href="https://twitter.com/Lachlan19900">Twitter</a> or on
  <a href="https://github.com/lmiller1990">GitHub</a>.
</p>
</div> 
