<p class="intro__text">
  Hi! I'm Lachlan, a full stack software developer with a passionate about open source, test driven development, and mentoring. 
</p>
<p class="intro__text">
  You may know me for my involvement in the <a href="https://github.com/vuejs">Vue.js community</a>. 
  If you've ever tested Vue.js applications, you've probably used
  <a href="https://github.com/vuejs/vue-test-utils">software I wrote</a>. You may have even read the 
  <a href="https://lmiller1990.github.io/vue-testing-handbook/v3/">the book I wrote</a> about it.
</p>
<p class="intro__text">
  You can find me on <a href="https://twitter.com/Lachlan19900">Twitter</a> or on
  <a href="https://github.com/lmiller1990">GitHub</a>.
</p>
</div> 
