extends ../shared/index.pug
block content
  p
    | I love working on projects. Here are some of the ones I'm most proud of.
  h5
    a(href='https://shirabe.app') Shirabe
  p
    | A spaced repetition dictionary for Japanese.
    | It will remind you of new words you looked up to help you remember them.
    | It&apos;s a native iOS app built using SwiftUI.
  h5
    a(href='https://vuejs-course.com/') Vue.js Courses
  p
    | Where I originally posted my advanced Vue.js content. I have made two full
    | length courses, and have currently posted over 30 screencasts detailing concepts such
    | separation of concerns, test driven development and design patterns.
  h5
    a(href='https://lmiller1990.github.io/vue-testing-handbook/v3/') Vue Testing Handbook
  p
    | A collection of short, practical examples on how to test Vue.js components.
    | It has amassed over 1 million page views and has been translated into Japanese,
    | Chinese, Korean and Russian. I'm honored by the enthusiastic volunteers who
    | provided translations.
