extends ../shared/index.pug

block content
  h5
    a(href='/design-patterns-for-vuejs') Design Patterns for Vue.js ($30)
  p
    | Aimed at advanced developers with some Vue.js experience looking to dive deeper
    | into the more abstract design patterns and concepts that underlie software 
    | development. This books uses Vue.js 3.
  p
    | We cover separation of concerns, renderless components, dependency
    | injection and more. Oh, and write tests for everything, of course!

  h5
    a(href='/typing-the-test-suite') Typing the Test Suite ($15)
  p
    |  A quick course for intermediate level developers looking to get started with testing using Jest and TypeScript. 
    |  Covers the basics of testing with Jest, as well as Node.js and React testing.


  h5
    a(href='https://lmiller1990.github.io/vue-testing-handbook/v3/') Vue Testing Handbook (free)
  p
    | A collection of practical examples on how to test Vue.js components with Vue Test Utils.
    | It has amassed over 1 million page views and has been translated into Japanese,
    | Chinese, Korean and Russian. I'm honored by the enthusiastic volunteers who
    | provided translations.
