
extends ../shared/index.pug
block content
  h5 Screencasts
  p
    | I currently post all my screencasts on #[a(href="https://vuejs-course.com/screencasts") Vue.js Courses].
    | The most recent series is always free. The rest are available for a one-off payment of $20.
  p
    | I also post free content on my 
    | #[a(href="https://www.youtube.com/channel/UCydNBt-h2Cox_Ub_GzspneQ?view_as=subscriber") YouTube Channel].
    | I am posting almost #[b daily] at the moment. My current focus is on a series about Vue.js 3 and Vue Test Utils.
