extends ../shared/index.pug
block content
  h5 Spreadsheet Engine from Scratch
  p
    | In this advanced screencast series, we build an spreadsheet engine
    | (like Excel) from scratch using TypeScript.
  p
    | You will learn concepts like test driven development,
    | separation of concerns and immutability, and implement features like
    | formulas, modal editing and undo/redo.
  p
    | We put our spreadsheet engine to the test and build a 
    | UI layer using Vue.js 3 and Vite, as well as a cli 
    | (command line interface) to further demonstrate
    | how the spreadsheet engine is entirely isolated
    | from the UI layer.
