extends ../shared/index.pug

block content
  | Slides for my conference talk, "The State of Vue Testing", from Vue Toronto 2020.
  | #[a(href="https://github.com/lmiller1990/vue-toronto-2020/blob/master/pdf.pdf") Download slides].