extends ../shared/index.pug
block content
  h5 Contact
  p
    | You can contact me via email, 
    | #[a(href='mailto:lachlan.miller.1990@outlook.com') lachlan.miller.1990@outlook.com], or via
    | #[a(href='https://twitter.com/Lachlan19900') Twitter]. My resume can be
    | #[a(href='https://lmiller1990.github.io/') found here].
    | My code can be found on #[a(href='https://github.com/lmiller1990') GitHub].
