extends ../shared/index.pug
block content
  p
    | These are miscellaneous posts about a variety of topics; software,
    | my personal philosophy, and whatever else
    | I feel like writing about.

  each musing in musings
    h5
      a(class='title-link' href=`/musings/${musing.slug}`)=musing.title 
      span.color-grey.font-small=musing.published
    p=musing.description
