extends ../shared/index.pug
block content
  p
    | These are miscellaneous posts about a variety of topics; software,
    | my personal philosophy, and whatever else
    | I feel like writing about.
  h5
    a(href='/musings/new-website' class='title-link') New Website!
    span.color-grey.font-small 2020-09-21
  p
    | I started a new website, #[a(href='/') lachlan-miller.me]. There are a few reasons for this...
